<ion-content>
  <h1>Cadastro</h1>

  <div>
    <ion-item>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button shape="round" fill="outline">Registrar</ion-button>
  </div>
</ion-content>
