<ion-header class="ion-padding">
  <ion-toolbar color="rgb(172, 184, 202)">
    <ion-title>CathetersApp</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="openPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" id="bg">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar class="icon">
          <img src="../../../assets/health-insurance (1).png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-text class="esc ion-text-nowrap">Escolha o dispositivo:</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


  <ion-card class="card-cvc">
    <ion-item class="card-cvc" routerLink="/home/op/cvc" routerDirection="foward">
      <ion-card-header>
        <ion-card-title class="card-title">Cateteres Venosos Centrais (CVC)</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>
  <ion-card class="card-cvd">
    <ion-item class="card-cvd" routerLink="/home/op/cvd" routerDirection="foward">
      <ion-card-header>
        <ion-card-title class="card-title">Cateteres Vesicais de Demora (CVD)</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="card-refe" routerLink="/home/op/refe" routerDirection="foward">
      <ion-card-header>
        <ion-card-title class="card-title">
          <ion-icon class="tab tab-icon" name="library-outline" color="dark"></ion-icon>
          Referências
        </ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item class="card-pac" routerLink="/home/op/pacientes" routerDirection="foward">
      <ion-card-header>
        <ion-card-title class="card-title">
          <ion-icon class="tab tab-icon" name="people-outline"></ion-icon>
          Lista de Pacientes
        </ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/home/op/cadastro" routerDirection="foward" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>