:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

#bg{
  --background: rgb(172, 184, 202);
}

.esc{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Frank Ruhl Libre', sans-serif;
  color: white;
}