:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

#bg{
  --background: rgb(172, 184, 202);
}
ion-title{
  font-size: 2em;
}

.esc{
  font-size: 2.5em;
  color: white;
  align-content: center;
  letter-spacing: 0.05em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.tab {
  color: #111111;
  font-weight: bold;
  width: 1em;
  height: 1em;
  padding-right: .2em;
}

.card-title{
  font-size: 2.5em;
  color: white;
}
.card-cvd{
  --background: #ed7d31;
  height: 100px;
}

.card-cvc{
  --background: #c00000;
  height: 100px;
}

.card-refe{
  --background: #5b9bd5;
}

.card-pac{
  --background: #4ae686;
}

.icon{
  width: 200px;
  height: 200px;
  position: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.popoverClass{
  position: relative;
  top: -26em;
  left: 16em;
}