<ion-header translucent class="ion-padding">
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">Voltar</ion-button>
  </ion-buttons>
</ion-header>

<ion-content fullscreen class="ion-padding bg">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar class="icon">
          <img src="../../assets/catheter (1).png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col></ion-col>
      <ion-col>
        <ion-text class="esc ion-text-nowrap">Cuidados durante a Inserção</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bg">
    <ion-item class="bg">
      <ion-label text-wrap class="bg">Higienizar as Mãos antes e depois de qualquer manipulação do dispositivo.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">Reunir o material necessário antes do procedimento.</ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Higienizar as mãos com água e sabonete líquido ou preparação alcoólica para as mãos.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Realizar a higiene íntima do paciente com água e sabonete líquido (comum ou com antisséptico).
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Retirar luvas de procedimento, realizar higiene das mãos com água e sabão.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar campo estéril fenestrado.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Organizar material estéril no campo (seringa, agulha, sonda, coletor urinário, gaze estéril).
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Abrir o material tendo o cuidado de não contaminá-lo.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar luva estéril para inserção.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Realizar a antissepsia da região perineal com solução antisséptica padronizada.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Introduzir gel lubrificante na uretra em homens; ou lubrificar a ponta da sonda com gel lubrificante em mulheres.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Seguir técnica asséptica de inserção
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Observar drenagem de urina pelo cateter e sistema coletor antes de insuflar o balão para evitar lesão uretral.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Fixar corretamente o cateter no hipogástrio no sexo masculino e na raiz da coxa em mulheres (evitando traumas).
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Assegurar o registro em prontuário e no dispositivo para monitoramento de tempo de permanência e complicações.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Gel lubrificante estéril, de uso único, com ou sem anestésico (dar preferência ao uso de anestésico em paciente com sensibilidade uretral).
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar cateter de menor calibre possível para evitar trauma uretral.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
