<ion-header translucent>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">X</ion-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label text-wrap>Reunir o material necessário antes do procedimento.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Higienizar as mãos com água e sabonete líquido ou preparação alcoólica para as mãos.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Realizar a higiene íntima do paciente com água e sabonete líquido (comum ou com antisséptico).
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Retirar luvas de procedimento, realizar higiene das mãos com água e sabão.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar campo estéril fenestrado.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Organizar material estéril no campo (seringa, agulha, sonda, coletor urinário, gaze estéril).
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Abrir o material tendo o cuidado de não contaminá-lo.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar luva estéril para inserção.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Realizar a antissepsia da região perineal com solução antisséptica padronizada.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Introduzir gel lubrificante na uretra em homens; ou lubrificar a ponta da sonda com gel lubrificante em mulheres.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Seguir técnica asséptica de inserção
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Observar drenagem de urina pelo cateter e sistema coletor antes de insuflar o balão para evitar lesão uretral.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Fixar corretamente o cateter no hipogástrio no sexo masculino e na raiz da coxa em mulheres (evitando traumas).
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Assegurar o registro em prontuário e no dispositivo para monitoramento de tempo de permanência e complicações.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Gel lubrificante estéril, de uso único, com ou sem anestésico (dar preferência ao uso de anestésico em paciente com sensibilidade uretral).
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar cateter de menor calibre possível para evitar trauma uretral.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
