<ion-header translucent>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">X</ion-button>
  </ion-buttons>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-text>
    <h1>Cuidados na inserção do CVC</h1>
    <p>Higienizar as mãos antes do procedimento.</p>
    <p>Uso de gorro.</p>
    <p>Utilizar Máscara.</p>
    <p>Utilizar avental e luvas estéreis.</p>
    <p>Utilizar campos estéreis grandes que cubram todo o paciente.</p>
    <p>Preparar o sítio de inserção com Clorexidina alcoólica > 0,5%.</p>
    <p>Optar preferencialmente pelas veias subclávia ou jugular.</p>
    <p>Utilizar ultrassom para auxiliar na inserção de CVC.</p>
    <p>Realizar a observação de inserções de CVC e preencher um check-list de inserção.</p>
  </ion-text>
</ion-content>

