<ion-header translucent>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">X</ion-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label text-wrap>Fixar e estabilizar todos os acessos com insumos (coberturas e fitas) estéreis.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Atentar para troca de coberturas no tempo pré-estabelecido.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Atentar para troca de dânulas e equipos conforme o tipo de infusão;
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Realizar a inspeção diária do sítio de infecção.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Antes da administração de fluídos, realizar a desinfecção de conectores (“Scrub the hub”) com álcool swab por 15 segundos.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Prevenir a contaminação durante o preparo e administração de medicações e fluídos.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Realizar a lavagem do acesso (flushing) com solução salina a 0,9%, antes e após cada uso.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Previamente a cada infusão e aspiração para verificar o retorno de sangue.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar frascos de dose única ou seringas preenchidas apropriadas.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar seringas de 10ml proporcionando baixa pressão no lúmen do acesso.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Realizar flushing após administração de qualquer fluidos ou medicamentos.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar técnica push-pause (flush pulsátil).
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
