<ion-header translucent class="ion-padding">
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">Voltar</ion-button>
  </ion-buttons>
</ion-header>

<ion-content fullscreen class="ion-padding bg">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar class="icon">
          <img src="../../assets/catheter (2).png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col></ion-col>
      <ion-col>
        <ion-text class="esc ion-text-nowrap">Cuidados durante a Manipulação</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bg">
    <ion-item class="bg">
      <ion-label text-wrap class="bg">Higienizar as Mãos antes e depois de qualquer manipulação do dispositivo.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">Fixar e estabilizar todos os acessos com insumos (coberturas e fitas) estéreis.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Atentar para troca de coberturas no tempo pré-estabelecido.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Atentar para troca de dânulas e equipos conforme o tipo de infusão;
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Realizar a inspeção diária do sítio de infecção.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Antes da administração de fluídos, realizar a desinfecção de conectores (“Scrub the hub”) com álcool swab por 15 segundos.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Prevenir a contaminação durante o preparo e administração de medicações e fluídos.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Realizar a lavagem do acesso (flushing) com solução salina a 0,9%, antes e após cada uso.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Previamente a cada infusão e aspiração para verificar o retorno de sangue.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar frascos de dose única ou seringas preenchidas apropriadas.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar seringas de 10ml proporcionando baixa pressão no lúmen do acesso.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Realizar flushing após administração de qualquer fluidos ou medicamentos.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar técnica push-pause (flush pulsátil).
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
