ion-label {
    letter-spacing: 0.05em;
    font-size: 1.15em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.bg{
    --background: #e9272aee;
    font-size: 1.15em;
}

ion-list{
    padding: 0;
}

.esc{
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: .1em;
}

.icon{
    width: 180px;
    height: 180px;
    position: center;
    align-items: center;
    margin: auto;
    padding: 0;
}