<ion-item-sliding #sliding>
  <ion-item (click)="update.emit()">
    {{ item.title }}
    <ion-toggle slot="end" color="primary" [checked]="item.done" (ionChange)="done.emit(item)" (click)="$event.stopPropagation()"></ion-toggle>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="delete.emit(item); sliding.close()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option>
      <ion-icon slot="icon-only" name="create" (click)="update.emit(); sliding.close()"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>