<ion-header translucent>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">X</ion-button>
  </ion-buttons>
</ion-header>
<ion-content class="ion-padding">
  <h1>Prevenção de Infecções Associadas aos CVD</h1>
  <ion-list>
    <ion-item>
      <ion-label text-wrap>
        Os cateteres urinários são amplamente utilizados para várias funções, como medir o volume urinário, coletar urina durante procedimentos cirúrgicos, prevenir retenção ou controlar a incontinência urinária.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Para pacientes submetidos ao cateterismo de demora, o risco de desenvolver uma infecção urinária aumenta em aproximadamente 10% a cada dia em que o CVD está inserido.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

