<ion-header class="bg">
    <ion-toolbar class="bg">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home/op"></ion-back-button>
          </ion-buttons>
        <ion-title>Pacientes</ion-title>
    </ion-toolbar>
    <ion-buttons>
        <ion-back-button></ion-back-button>
    </ion-buttons>
</ion-header>
<ion-content fullscreen class="bg ion-padding">
    <ion-list *ngIf="(pacientes$ | async) as pacientes" class="pac-list">
        <ng-container *ngIf="pacientes.length > 0; else nopacientes" class="pac-list">
          <app-list
            *ngFor="let paciente of pacientes"
            [paciente]="paciente"
            (update)="onUpdate($event)"
            (delete)="onDelete($event)"
          ></app-list>
        </ng-container>
        <ng-template #nopacientes class="bg">
          <ion-item lines="none">Sem pacientes cadastrados...</ion-item>
        </ng-template>
      </ion-list>
</ion-content>