
.form-login{
    margin: 40px 5px;
}

ion-input{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

ion-note{
    padding: 0;
}

.btn-login{
    margin-top: 26px;
}
.display-grid{
    display: grid;
}

p{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.btn-google{
    left: 30px;
    margin-right: 10px;
}

.btn-face{
    right: 30px;
}

.red-senha{
    display: flex;
    justify-content: space-around;
}

ion-item, ion-input, ion-label{
    --background: none;
}

.icon{
    width: 150px;
    height: 150px;
    position: center;
    align-items: center;
    margin: auto;
    padding: 0;
    display: flex;
}
.esc{
    font-size: 2em;
    font-weight: bold;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: .1em;
    display: flex;
}

.bg-div{
    --background: white;
    box-sizing: border-box;
    border: 1px solid rgba(204,204,204, .5);
    background: rgba(204,204,204, .5);
    position: relative;
    height: 100%;
}