<ion-content>
  <h1>Login</h1>
  <p>Não possui uma conta? <a href="">Crie uma conta aqui.</a> </p>

  <div>
    <ion-item>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key-outline"></ion-icon>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <a href="">Esqueceu a senha?</a>
    <ion-button shape="round" fill="outline">Logar</ion-button>
  </div>
  <p>Ou faça login com</p>
  <ion-button shape="round" fill="key-outline"><ion-icon name="logo-google-outline"></ion-icon></ion-button>
  <ion-button shape="round" fill="key-outline"><ion-icon name="logo-facebook-outline"></ion-icon></ion-button>

</ion-content>
