
.form-login{
    margin: 40px 5px;
}

ion-input{
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}

ion-note{
    padding: 0;
}

.btn-login{
    margin-top: 26px;
}
.display-grid{
    display: grid;
}

p{
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.btn-google{
    left: 30px;
    margin-right: 10px;
}

.btn-face{
    right: 30px;
}

.red-senha{
    display: flex;
    justify-content: space-around;
}

ion-item, ion-input, ion-label{
    --background: none;
}