<ion-content class="bg-class ion-padding">
  <div class="bg-div">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-icon name="person-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col></ion-col>
        <ion-col>
          <ion-text class="esc ion-text-nowrap">Bem-vindo(a) ao CathetersApp</ion-text>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <h3 class="ion-text-center">Vamos aprender sobre prevenção de infecções relacionadas a dispositivos invasivos?</h3>
    <h3 class="ion-text-center">Assim, poderemos garantir a qualidade do cuidado e a segurança do paciente.</h3>

    <ion-button color="dark" class="btn-prin" routerLink="/home/op">Começar</ion-button>
  </div>
</ion-content>