<ion-content class="bg-class ion-padding">
  <div class="bg-div">

      <ion-icon name="person-outline" id="logo"></ion-icon>
      <h1 class="h1-logo" color="warning">Bem-vindo(a) ao CathetersApp</h1>

      <h3 class="ion-text-center">Vamos aprender sobre prevenção de infecções relacionadas a dispositivos invasivos?</h3>
      <h3 class="ion-text-center">Assim, poderemos garantir a qualidade do cuidado e a segurança do paciente.</h3>

      <ion-button color="dark" class="btn-prin" routerLink="/home/op">Começar</ion-button>
  </div>
</ion-content>