<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="openPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <!-- <ion-list>
    <app-task-item *ngFor="let task of (tasks$ | async)" [task]="task">

    </app-task-item>
  </ion-list> -->

  <ion-card>
    <ion-item href="tasks/cvc">
      <ion-card-header>
        <ion-card-title>Cateteres Venosos Centrais (CVC)</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item href="tasks/cvd">
      <ion-card-header>
        <ion-card-title>Cateters Vesicais de Demora (CVD)</ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-card>


  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="/">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Página inicial</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pacientes">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Pacientes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/tasks/cadastro" routerDirection="foward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
