<ion-item-sliding #sliding class="pac-list">
  <ion-item (click)="update.emit(paciente)" class="pac-list"  lines="full">
    <ion-label>
      <h1 class="nome">{{ paciente.nome }}</h1>
      <p>Prontuário: </p><h1> {{ paciente.nprontuario }} </h1>
    </ion-label>
    <ion-label>
      <p>Dispositivo: </p>
      <p>Data de Inserção: </p>
      <p>Leito: </p>
      <p>Unidade: </p>
    </ion-label>
    <ion-label>
      <h2>{{ paciente.dispositivo }}</h2>
      <h2>{{ paciente.data }}</h2>
      <h2>{{ paciente.leito }}</h2>
      <h2>{{ paciente.unidade }}</h2>
    </ion-label>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option
      color="danger"
      (click)="delete.emit(paciente); sliding.close()"
    >
      <ion-icon
        slot="icon-only"
        name="trash"
      ></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="update.emit(paciente); sliding.close()">
      <ion-icon
        slot="icon-only"
        name="create"
      ></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>