<ion-header class="ion-no-border ion-padding">
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/op"></ion-back-button>
    </ion-buttons>
      <ion-title size="large" color="dark" collapse="true">Cateteres Vesicais de Demora (CVD)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding bg">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar class="icon">
          <img src="../../assets/catheter (1).png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-text class="esc ion-text-nowrap">Indicação para o uso</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bg">
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Pacientes com impossibilidade de micção espontânea.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Paciente instável hemodinamicamente com necessidade de monitorização de débito urinário.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Pós - operatório, pelo menor tempo possível, com tempo máximo recomendável de até 24 horas, exceto para cirurgias urológicas específicas.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Cuidados paliativos e medidas de conforto.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Tratamento de pacientes do sexo feminino com úlcera por pressão grau IV com cicatrização comprometida pelo contato pela urina.
      </ion-label>
    </ion-item>
  </ion-list>

  <h3>O paciente possui indicação de uso de CVD?</h3>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="dark" size="large" expand="block" (click)="openNao()">Não</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" size="large" expand="block" (click)="openIndicacaoModal()">Sim</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
