<ion-header class="ion-padding">
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">Voltar</ion-button>
  </ion-buttons>
</ion-header>

<ion-content fullscreen class="ion-padding bg">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar class="icon">
          <img src="../../assets/catheter (1).png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col></ion-col>
      <ion-col>
        <ion-text class="esc ion-text-nowrap">Cuidados durante a Manipulação</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bg">
    <ion-item class="bg">
      <ion-label text-wrap class="bg">Higienizar as Mãos antes e depois de qualquer manipulação do dispositivo.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">Fixar o cateter de modo seguro e que não permita tração ou movimentação.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Manter o sistema de drenagem fechado e estéril.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Não desconectar o cateter ou tubo de drenagem, exceto se a irrigação for necessária.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Trocar todo o sistema quando ocorrer desconexão, quebra da técnica asséptica ou vazamento.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Manter o fluxo de urina desobstruído.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Esvaziar a bolsa coletora regularmente, utilizando recipiente coletor individual e evitar contato do tubo de drenagem com o recipiente coletor.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Manter sempre a bolsa coletora abaixo do nível da bexiga.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Realizar a higiene rotineira do meato e sempre que necessário.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Utilizar frascos de dose única ou seringas preenchidas apropriadas.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Não é necessário fechar previamente o cateter antes da sua remoção.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
