<ion-header translucent>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">X</ion-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label text-wrap>Fixar o cateter de modo seguro e que não permita tração ou movimentação.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Manter o sistema de drenagem fechado e estéril.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Não desconectar o cateter ou tubo de drenagem, exceto se a irrigação for necessária.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Trocar todo o sistema quando ocorrer desconexão, quebra da técnica asséptica ou vazamento.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Manter o fluxo de urina desobstruído.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Esvaziar a bolsa coletora regularmente, utilizando recipiente coletor individual e evitar contato do tubo de drenagem com o recipiente coletor.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Manter sempre a bolsa coletora abaixo do nível da bexiga.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Realizar a higiene rotineira do meato e sempre que necessário.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Utilizar frascos de dose única ou seringas preenchidas apropriadas.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        Não é necessário fechar previamente o cateter antes da sua remoção.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
