<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Cateter Venoso central</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-item (click)="openPrevencaoModal()">
    <ion-card-header>
      <ion-card-title>Prevenção de Infecções Associadas aos Cateteres Venosos Centrais</ion-card-title>
    </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)="openIndicacaoModal()">
    <ion-card-header>
      <ion-card-title>Indicações de uso</ion-card-title>
    </ion-card-header>
  </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)="openInsercaoModal()">
    <ion-card-header>
      <ion-card-title>Cuidados durante a Inserção</ion-card-title>
    </ion-card-header>
  </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)="openManipulacaoModal()">
    <ion-card-header>
      <ion-card-title>Cuidados durante a Manipulação</ion-card-title>
    </ion-card-header>
  </ion-item>
  </ion-card>
</ion-content>
