<ion-header>
  <ion-toolbar class="bg ion-padding">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/op"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark" size="large">Cateter Venoso central (CVC)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding bg">

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar class="icon">
          <img src="../../assets/catheter (2).png">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col></ion-col>
      <ion-col>
        <ion-text class="esc ion-text-nowrap">Indicação para o uso</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="bg">
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Pacientes sem condições de acesso venoso periférico.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Necessidade de monitorização hemodinâmica (pressão venosa central).
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Acesso imediato para terapia dialítica.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Administração de soluções/medicamentos que não podem ser administrados por via periférica.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Administração rápida de drogas, expansores de volume e hemoderivados em pacientes com instabilidade hemodinâmica.
      </ion-label>
    </ion-item>
    <ion-item class="bg">
      <ion-label text-wrap class="bg">
        Administração concomitante de drogas incompatíveis entre si (utilizar cateteres de múltiplos lúmens).
      </ion-label>
    </ion-item>
  </ion-list>

  <h3>O paciente possui indicação de uso de CVC?</h3>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button color="dark" size="large" expand="block" (click)="openNao()">Não</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" size="large" expand="block" (click)="openIndicacaoModal()">Sim</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>