<ion-header>
  <ion-toolbar class="bg">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/op"></ion-back-button>
    </ion-buttons>
    <ion-title>Referências</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding bg">

  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('http://portal.anvisa.gov.br/documents/33852/3507912/Caderno+4+-+Medidas+de+Preven%C3%A7%C3%A3o+de+Infec%C3%A7%C3%A3o+Relacionada+%C3%A0+Assist%C3%AAncia+%C3%A0+Sa%C3%BAde/a3f23dfb-2c54-4e64-881c-fccf9220c373', '_system', 'location=yes'); return false;">
          Medidas de Prevenção de Infecção Relacionada à Assistência à Saúde
      </a>
    </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('https://pubmed.ncbi.nlm.nih.gov/24915204/', '_system', 'location=yes'); return false;">
          Strategies to Prevent Central Line-Associated Bloodstream Infections in Acute Care Hospitals
        </a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3106269/', '_system', 'location=yes'); return false;">
          Guidelines for the Prevention of Intravascular Catheter-related Infections
        </a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('https://source.yiboshi.com/20170417/1492425631944540325.pdf', '_system', 'location=yes'); return false;">
          Infusion Therapy Standards of Practice
        </a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('https://www.springer.com/gp/book/9783030031480', '_system', 'location=yes'); return false;">
          Vessel Health and Preservation: The Right Approach for Vascular Access
        </a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('https://www.cdc.gov/infectioncontrol/pdf/guidelines/cauti-guidelines-H.pdf', '_system', 'location=yes'); return false;">
          Guideline for Prevention of Catheter-Associated Urinary Tract Infections (2009)
        </a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="bg">
    <ion-card-header>
      <ion-card-title>
        <a class="item" href="#" onclick="window.open('https://www.icpsne.org/SHEA%202014%20Updated%20CAUTI%20Prevention%20Guidelines%20(1).pdf', '_system', 'location=yes'); return false;">
          Strategies to Prevent Catheter-Associated Urinary Tract Infections in Acute Care Hospitals
        </a>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>