<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <!-- Trocar os h1 por um icone -->
      <h1>Finalidade</h1>
      <p>Aplicativo desenvolvido como tese de Mestrado Profissional em [Enfermagem] na Universidade Federal de Ciências da Saúde de Porto Alegre.</p>
    </ion-slide>
    <ion-slide>
      <h1>Objetivo</h1>
      <p>Tem como o objetivo ser um meio alternativo ao ensino sobre os Cateteres Venosos Centrais e [V...]. Indicando os melhores casos de uso e referências complementares aos estudos.</p>
    </ion-slide>
    <ion-slide>
      <h1>Para quem é indicado</h1>
      <p>Indicado para todos os interessados sobre o uso destes dispositivos.</p>
    </ion-slide>
    <ion-slide>
      <h1>Slide 4</h1>
      <p>Explicar sobre o pacinte teste</p>
      <button>Continuar</button>
    </ion-slide>
  </ion-slides>
</ion-content>
